*{
    margin: 0;
    box-sizing: border-box;
}


.header__container{
    width: auto;
    height: auto;
    background-color: #e8ebf1 ;
    display: flex;
    justify-content: center;
}
.container{
   width: 1000px;
   height: auto;
   margin:0 auto;
}
.nav__bar{
    padding:35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width:300px;
    background: url('./assets/bis-lite.png') no-repeat;
    padding: 20px 0;
}

.nav-btn__container{
    width: auto;
    display: flex;
    align-items: center;
}
.nav-btn__container ul{
    display:flex;
    list-style-type: none;

}
.nav-btn__link{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin-left: 30px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px 0;
}
#home{
   margin: 0;

}
.nav-btn__link:hover{
    border-top: 5px solid #2aacc8;
    font-weight: bold;
}
.banner__section{
    width: auto;
    background-color:#81e4ed;
}
.banner__container{
    padding: 20px 0 40px;
 }
 .image-box{ 
    width:auto;
    height:440px;
    background: url('./assets/header-image.jpg') no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    
 }
 .text__box{
    width: 369px;
    height: 242px;
    font-size: 50px;
    color: #ffffff;
    margin-left: 50px;
 }
 .features__section{
    width:auto;
    height:auto;
    background-color: #e8ebf1;
    padding: 50px 0;

    
 }
 
 .feature__container{
    display: flex;
    justify-content: space-between;

 }
 
 .icon-heading{
    width: 234px;
    height: auto;

 }
 .icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2aacc8;
    display: inline-block;

 }
 
 .heading-text{
    display: inline-block;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
 }
 .feature__description{
    width: 234px;
    padding-top: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #363636;
    line-height: 20px;
    
 }
 .fa-pen{
    color: white;
    font-size: 20px;
    margin: auto;

 }
 .fa-bars{
    color: white;
    font-size: 20px;
    margin: auto;
 }
 .fa-paper-plane{
    color: white;
    font-size: 20px;
    margin: auto;

 }
 .fa-display{
    color: white;
    font-size: 20px;
    margin: auto;
 }
 .content__section{
    width: auto;
    height: auto;

 }
 .slider-heading__bar{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
 }
 
 .slider-heading__container{
    padding: 20px 0;
    display: flex;
 }
 .left-arrow-text{
    width: auto;
    height: auto;
 }
 .pointer-icon__box{
    display: inline-block;
    margin-right: 20px;
 }
 .fa-arrow-pointer{
    color: #2aacc8;
    font-size: 20px;
 }
 .latest-work__text{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
    
 }
 .right-angle-arrow{
    width: auto;
    height: auto;
    margin-left: auto;
 }
 .fa-circle-chevron-left{
    color: #2aacc8;
 }
 .fa-circle-chevron-right{
    color:#2aacc8;
 }
 .slider__section{
    width: auto;
    height: auto;
    
 }
 .slider__container{
    padding: 20px 0 40px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    border-top: 1px solid #e8ebf1;
    border-bottom: 1px solid #e8ebf1;
 }
 .image-box1{
    width: 220px;
    height: 160px;
    background: url(./assets/content-image1.jpg) no-repeat;
 }
 .image-box2{
   width: 220px;
   height: 160px;
   background: url(./assets/content-image2.jpg) no-repeat;
}
.image-box3{
   width: 220px;
   height: 160px;
   background: url(./assets/content-image3.jpg) no-repeat;
}
.image-box4{
   width: 220px;
   height: 160px;
   background: url(./assets/content-image4.jpg) no-repeat;
}
.testimonials-client__section{
   width: auto;
   height: auto;

}
.testimonials-client__container{
   padding-top:20px;
   display: flex;
   justify-content: space-between;
}
.testimonials__box{
   width: 500px;
   height: auto;
   display: inline-block;
}
.testimonials__icon-heading{
   width: auto;
   height: auto;
   margin-bottom: 25px;
}
.comment-icon{
   display: inline-block;
}
.fa-comment-dots{
   color: #2aacc8;
   font-size: 20px;
   margin-right: 10px;
}
.testimonials-heading{
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
}
.testimonials-description{
   width: auto;
   height: auto;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #363636;
   line-height: 24px;
   margin-right: 75px;
}
.testimonials-text h4{
   margin-top: 10px;
}
.client__box{
   width: 500px;
   height: auto;
   display: inline-block;
}
.client-icon{
   display: inline-block;
   margin-right: 10px;
}
.fa-user-group{
   font-size: 20px;
   color: #2aacc8;
}
.client-heading{
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
   margin-bottom: 20px;

}
.client__box{
   display: flex;
   justify-content: flex-end;
}
.client-images__box{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;

}
.cox{
   width: 167px;
   height: 100px;
   background: url(./assets/client-image1.png) no-repeat;
   background-size: 167px;

}
.cnn{
   width: 167px;
   height: 100px;
   background: url(./assets/client-image2.png) no-repeat;
   background-size: 167px;

}
.apartment-finder{
   width: 166px;
   height: 100px;
   background: url(./assets/client-image3.png) no-repeat;
   background-size: 166px;
}
.john-deere{
   width: 167px;
   height: 100px;
   background: url(./assets/client-image4.png) no-repeat;
   background-size: 167px;
}
.banana-boat{
   width: 167px;
   height: 100px;
   background: url(./assets/client-image5.png) no-repeat;
   background-size: 167px;
}
.fuji-film{
   width: 166px;
   height: 100px;
   background: url(./assets/client-image6.png) no-repeat;
   background-size: 166px;
}
.download__section{
   width: auto;
   height: auto;
   padding: 40px 0;
}
.download__container{
   background-color:#e8fcfe;
   border: 1px solid #2aacc8;
   padding: 35px 35px;
   display: flex;
   justify-content: space-between;
   
}
.download-info{
   width: auto;
   height: auto;
   display: inline-block;
}
.download-info p{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   color: #363636;
   line-height: 26px;
}
.download-btn{
   display: inline-block;
   width: auto;
   height: auto;
   display: flex;
   align-items: center;


}
.btn{
   font-size: 18px;
   color: #0d0707;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding: 15px 10px;
   background-color: #74DBE7;
   border: 1px solid #2aacc8;
   border-radius: 5px;
   
   
}
.fa-download{
   color: #ffffff;
   font-size: 25px;
}
.footer__section{
   width: auto;
   height: auto;
   background-color:#e8ebf1;
   padding: 30px 0;
}
.footer-info__container{
   display: flex;
   justify-content: space-between;

}
.about-us__box{
   width: 240px;
   height: auto;
}
.footer-info__heading{
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   font-weight: bold;
   margin-bottom: 20px;
}
.about-us__para{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
   line-height: 20px;

}
.explore__box{
   width: auto;
   height: auto;
}
.explore__heading{
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   font-weight: bold;
   margin-bottom: 20px;
}
.explore__menu{
   width: auto;
   height: auto;
}
.explore__menu ul{
   list-style-type: none;
   padding: 0;
}

.explore__menu-link {
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
   line-height: 20px;
}
.explore__menu-link:hover{
   color:#81e4ed;
   
}
.brows__box{
   width: auto;
   height: auto;

}
.brows__heading{
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   font-weight: bold;
   margin-bottom: 20px;
}
.brows__menu{
   width: auto;
   height: auto;
}
.brows__menu ul{
   list-style-type: none;
   padding: 0;
}
.brows__menu-link {
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
   line-height: 20px;
}
.brows__menu-link:hover{
   color:#81e4ed;
}
.contact-us__box{
   width: auto;
   height: auto;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
}
.connect-with-us__box{
   width: 190px;
   height: auto;
}
.footer-info__social-media{
   width: auto;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}
.footer-info__social-media > div {
   width: 50px;
   height: 50px;
   border: 5px solid #ffffff;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}
.facebook{
   background-color:#3b5998 ;
  
}
.fa-facebook-f{
   color: #ffffff;
   font-size: 25px;

}
.dribbble{
   background-color: #ea4c88;
}
.fa-dribbble{
   color: #ffffff;
   font-size: 25px;


}
.pinterest{
   background-color: #cb2027;

}
.fa-pinterest{
   color: #ffffff;
   font-size: 25px;
}
.linkdin{
   background-color:#3399cc ;
}
.fa-linkedin-in{
   color:#ffffff;
   font-size: 25px;


}
.skype{
   background-color: #00b0f0;
}
.fa-skype{
   color: #ffffff;
   font-size: 25px;
}
.share{
   background-color: #21a61b;
}
.fa-share-nodes{
   color: #ffffff;
   font-size: 25px;
}
.footer__copyright-section{
   width: auto;
   height: auto;
}
.copyright__container{
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
}
.copyright-text__container{
   width: auto;
   height: auto;
   line-height: 18px;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   color: #363636;
}
.fa-copyright{
   color: #363636;
   font-size: 12px;
   margin-right: 5px;
}
.footer-logo__container{
   width:auto;
   height: auto;
   background: url('./assets/bis-lite.png') no-repeat;
   padding: 20px 75px;

}



.container__portfolio{
   width: auto;
   height: auto;
}
.portfolio-heading__container{
  width: auto;
  height: auto;
}
.portfolio-heading__bar{
  padding: 35px 0 10px;
}
.brush-icon{
  display: inline-block;
  margin-right: 10px;
}
.fa-paintbrush{
  color: #2aacc8;
   font-size: 20px;

}

.portfolio__heading{
   display: inline-block;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 15px;
 }
 .portfolio-menu__container{
   width: auto;
   height: auto;
 }
 .portfolio-menu__bar{
   padding:15px 0;
   border-top: 1px solid #e8ebf1;
   border-bottom: 1px solid #e8ebf1;
 }
 .portfolio-menu__bar ul{
   list-style-type: none;
   padding: 0;
   display: flex;

 }
 .menu__link{
   text-decoration: none;
   font-size: 14px;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   margin-right: 15px;
   font-weight: bold;
   padding: 10px 15px;
   
 }
 .menu__link:hover{
   background-color: #81e4ed;
   padding: 10px 15px;
 }
 .portfolio-images__container{
   width: auto;
   height: auto;
 }
 .portgolio-images__section{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 40px 0;
   border-bottom:1px solid #e8ebf1;

 }
 
 .portfolio-image1{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-1.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image2{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-2.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image3{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-3.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image4{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-4.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image5{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-5.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image6{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-6.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image7{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-7.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image8{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-8.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image9{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-9.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image10{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-10.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image11{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-11.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image12{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-12.jpg) no-repeat;
   margin-bottom: 40px;
 }
 .portfolio-image13{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-13.jpg) no-repeat;
   
 }
 .portfolio-image14{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-14.jpg) no-repeat;
   
 }
 .portfolio-image15{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-15.jpg) no-repeat;
   
 }
 .portfolio-image16{
   width: 220px;
   height: 160px;
   background: url(../assets/portfolio-16.jpg) no-repeat;

   
 }
 .portfolio-pagination__section{
   display: flex;
   justify-content: center;
   padding: 30px 40px;
}

.pagination__number{
   padding: 5px 10px;
   margin-right: 10px;
   font-weight: bold;
}
.pagination__number:hover {
   background-color: #2aacc8;
}
.pagination-link{
   text-decoration: none;
   color:#000000;
}
.pagination__arrow{
   padding: 5px 10px;
   margin-right: 10px;
}
.pagination__arrow:hover {
   background-color: #e8ebf1;
}


.fa-angles-right{
   color: #2aacc8;
}
.fa-angle-right{
   color: #2aacc8;
}


.contact__container{
   width: auto;
   height: auto;
   padding: 30px 0;
}
.contact-heading__box{
   border-bottom: 1px solid #e8ebf1;
   padding: 15px 0;


}
.fa-envelope{
   color: #2aacc8;
   margin-right: 10px;
}
.contact-heading__box > h5{
   display: inline-block;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;

}
.form-map__container{
   padding-top: 35px;
   display: flex;
   justify-content: space-between;
}
.form__container{
   width:auto;
   height: auto;
}
.form-text__box{
   margin-bottom: 30px;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   
}
.form-email{
   color: #2aacc8;
   text-decoration: none;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
}
input[type=text], [type=email]{
   width: 480px;
   padding: 10px 5px;
   margin: 12px 0 16px;
   border: 1px solid #b4bac5;

}
input[type=text]:focus{
   border:1px solid #2aacc8;
   outline: none;
}
input[type=email]:focus{
   border:1px solid #2aacc8;
   outline: none;
}


textarea{
   width: 480px;
   margin: 12px 0 16px;
   border: 1px solid #b4bac5;
}
textarea:focus{
   border:1px solid #2aacc8;

}
input[type=submit]{
   padding:15px 30px;
   border: 1px solid #2aacc8;
   border-radius: 8px;
   background-color: #2aacc8;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.map__container{
   width: auto;
   height: auto;

}
.map-image__box{
   padding: 20px;
   background-color: #e7fbfd;
}
.map-image__box > h5 {
   font-size: 14px;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding-bottom: 20px;
}
.bislite__address{
   margin-top:40px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
}


