*{
    margin: 0;
    box-sizing: border-box;
}


.header__section{
    width: auto;
    height: auto;
    background-color: #e8ebf1 ;
    display: flex;
    justify-content: center;
}
.container{
   width: 1000px;
   height: auto;
   margin:0 auto;
}
.header__container{
    padding:35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    width: auto;
    display: flex;
    align-items: center;
}
.navigation ul{
    display:flex;
    list-style-type: none;

}
.nav__page-link{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin-left: 30px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px 0;
    
}
.nav__page-link:hover{
    border-top: 5px solid #2aacc8;
    font-weight: bold;
}


@media screen and (max-width:768px){
.header__container{
   display: flex;
   flex-direction: column;
}
.navigation ul{
   display: flex;
   flex-direction: column;
   padding: 0;
}
.navigation li{
   margin-bottom: 5px;
}
.nav__page-link{
   margin:0;
   display: block;
   padding: 15px 30px;
   
   background-color: #21a61b;
}
.nav__page-link:hover{
   background-color: #b4bac5;
   padding: 15px 30px;
}
}

@media screen and (max-width:500px){
   
  .header__logo img{
   width: 120px;
  }
   .navigation li{
      margin-bottom: 5px;
   }
   .nav__page-link{
      margin:0;
      display: block;
      padding: 10px 20px;
      background-color: #cb2027;
   }
   .nav__page-link:hover{
      background-color: #b4bac5;
      padding: 10px 20px;
   }
   }






.hero__section{
    width: auto;
    background-color:#81e4ed;
}
.hero__container{
    padding-top: 20px;
 }
 .hero__image{ 
    width:auto;
    height:440px;
    background: url('./assets/header-image.jpg') no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    
 }
 .hero__title{
    width: 369px;
    height: 242px;
    font-size: 50px;
    color: #ffffff;
    margin-left: 50px;
 }
 .hero__link-block{
   display: flex;
   justify-content: center;
   padding: 20px;
 }
 .hero__link{
   width: 15px;
   height: 15px;
   border-radius: 50%;
   margin-right: 10px;
   background-color:#626262;
   
 }
 .hero__link:hover{
   background-color: #ffffff;
 }
 .features__section{
    width:auto;
    height:auto;
    background-color: #e8ebf1;
    padding: 50px 0;
 }
 
 .feature__container{
    display: flex;
    justify-content: space-between;
 }
 .feature__icon-title{
   display: flex;
   align-items: center;
 }
 
 .feature__icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2aacc8;
    display: inline-block;

 }
 
 .feature__title{
    display: inline-block;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
 }
 .feature__description{
    padding-top: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #363636;
    line-height: 20px;
    
 }
 .right-angle{
   margin-right: 10px;
 }
 .feature__read-more{
   margin-top:25px;
 }
 .feature__read-more > a {
   text-decoration: none;
   color: #363636;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
 }
 .feature__read-more > a:hover{
   color: #2aacc8;
   
 }
 .fa-pen{
    color: white;
    font-size: 20px;
    margin: auto;

 }
 .fa-bars{
    color: white;
    font-size: 20px;
    margin: auto;
 }
 .fa-paper-plane{
    color: white;
    font-size: 20px;
    margin: auto;

 }
 .fa-display{
    color: white;
    font-size: 20px;
    margin: auto;
 }
 .content{
    width: auto;
    height: auto;
    padding-bottom: 40px;
 }
 .content__slider-title{
    padding: 25px 0 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b4bac5;
 }

 .arrow-title__arrow{
    display: inline-block;
    margin-right: 20px;
 }
 .fa-arrow-pointer{
    color: #2aacc8;
    font-size: 20px;
 }
 .arrow-title__title{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
 }
 .fa-circle-chevron-left{
    color: #2aacc8;
 }
 .fa-circle-chevron-right{
    color:#2aacc8;
 }
 .content__slider-images{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   border-bottom: 1px solid #b4bac5;
   padding-top: 20px;
 }

 .slider-images__img-box{
   position: relative;
   width: auto;
   margin-bottom: 40px;
  

 }
 
 .img-box__img{
   width:auto;
   height: auto;
 }
 .overlay {
   position: absolute;
   top: 50%;
   height: 80px;
   width:220px;
   opacity: 0;
   transition: 1.0s ease;
   background-color: #2aacc8;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .slider-images__img-box:hover .overlay {
   opacity: 1;
 }
 .fa-eye{
   color:#ffffff;
   font-size:25px;
   padding-right: 15px;
}
.fa-link{
   color:#ffffff;
   font-size: 25px;

}

.content__testimonials-client{
   padding:20px 0 40px;
   display: flex;
   justify-content: space-between;
}
.testimonials-client__testimonials{
   width: 500px;
   height: auto;
   display: inline-block;
}
.testimonials__icon-title{
   width: auto;
   height: auto;
   margin-bottom: 10px;
}
.icon-title__comment-icon{
   display: inline-block;
}
.fa-comment-dots{
   color: #2aacc8;
   font-size: 20px;
   margin-right: 10px;
}
.icon-title__testimonials-title{
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
}
.testimonials__description{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #363636;
   line-height: 24px;
   margin-right: 75px;
}

.testimonials-client__client{
   width: 500px;
   height: auto;
   display: inline-block;
}
.icon-title__icon{
   display: inline-block;
   margin-right: 10px;
}
.fa-user-group{
   font-size: 20px;
   color: #2aacc8;
}
.icon-title__title{
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
   margin-bottom: 20px;

}
.client-images__box{
   display: flex;
   flex-wrap: wrap;
}

#client-img{
display: block;
}
.download-container{
   background-color:#e8fcfe;
   border: 1px solid #2aacc8;
   padding: 35px 35px;
   display: flex;
   justify-content: space-between;
   
}
.download-container__download-info{
   width: auto;
   height: auto;
   display: inline-block;
}
.download-container__download-info p{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   color: #363636;
   line-height: 26px;
}

.download-container__download-btn{
   display: flex;
   align-items: center;
}
.btn{
   font-size: 18px;
   color: #0d0707;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding: 12px 25px;
   background-color: #74DBE7;
   border: 1px solid #2aacc8;
   border-radius: 5px;
}
.fa-download{
   color: #ffffff;
   font-size: 25px;
   margin-right: 10px;
}
.footer-section{
   width: auto;
   height: auto;
   background-color:#e8ebf1;
   padding: 30px 0;
}
.footer__container{
   display: flex;
   justify-content: space-between;

}
.footer__about-us{
   width: auto;
   height: auto;
}
.footer__title{
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   font-weight: bold;
   margin-bottom: 20px;
}
.about-us__para{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
   line-height: 20px;

}
.footer__explore{
   width: auto;
   height: auto;
}
.explore__heading{
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   font-weight: bold;
   margin-bottom: 20px;
}
.explore__menu{
   width: auto;
   height: auto;
}
.explore__menu ul{
   list-style-type: none;
   padding: 0;
}

.explore__menu-link {
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
   line-height: 20px;
}
.explore__menu-link:hover{
   color:#81e4ed;
   
}
.footer__brows{
   width: auto;
   height: auto;

}
.brows__heading{
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   font-weight: bold;
   margin-bottom: 20px;
}
.brows__menu{
   width: auto;
   height: auto;
}
.brows__menu ul{
   list-style-type: none;
   padding: 0;
}
.brows__menu-link {
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000000;
   line-height: 20px;
}
.brows__menu-link:hover{
   color:#81e4ed;
}
.footer__contact-us{
   width: auto;
   height: auto;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
}
.footer__connect{
   width: 190px;
   height: auto;
}
.footer__social-media{
   width: auto;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}
.footer__social-media > div {
   width: 50px;
   height: 50px;
   border: 5px solid #ffffff;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}
.facebook{
   background-color:#3b5998 ;
  
}
.fa-facebook-f{
   color: #ffffff;
   font-size: 25px;

}
.dribbble{
   background-color: #ea4c88;
}
.fa-dribbble{
   color: #ffffff;
   font-size: 25px;


}
.pinterest{
   background-color: #cb2027;

}
.fa-pinterest{
   color: #ffffff;
   font-size: 25px;
}
.linkdin{
   background-color:#3399cc ;
}
.fa-linkedin-in{
   color:#ffffff;
   font-size: 25px;


}
.skype{
   background-color: #00b0f0;
}
.fa-skype{
   color: #ffffff;
   font-size: 25px;
}
.share{
   background-color: #21a61b;
}
.fa-share-nodes{
   color: #ffffff;
   font-size: 25px;
}
.copyright__container{
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
}
.copyright__text-info{
   width: auto;
   height: auto;
   line-height: 18px;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   color: #363636;
}
.fa-copyright{
   color: #363636;
   font-size: 12px;
   margin-right: 5px;
}

.section-portfolio{
   width: auto;
   height: auto;
}

.portfolio__icon-title{
  padding-top: 30px;
}
.icon-title__brush-icon{
  display: inline-block;
  margin-right: 10px;
}
.fa-paintbrush{
  color: #2aacc8;
   font-size: 20px;

}

.icon-title__title{
   display: inline-block;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 15px;
 }
 
 .portfolio__menu-bar{
   padding:15px 0;
   border-top: 1px solid #e8ebf1;
   border-bottom: 1px solid #e8ebf1;
 }
 .portfolio__menu-bar ul{
   list-style-type: none;
   padding: 0;
   display: flex;

 }
 .menu-bar__menu-link{
   text-decoration: none;
   font-size: 14px;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   margin-right: 15px;
   font-weight: bold;
   padding: 10px 15px;
   
 }
 .menu-bar__menu-link:hover{
   background-color: #81e4ed;
   padding: 10px 15px;
 }

 



 
 .portfolio__pagination{
   display: flex;
   justify-content: center;
   padding: 30px 40px;
}
.portfolio__pagination ul{
   list-style-type: none;
   display: flex;

}

.pagination__number{
   padding: 5px 10px;
   margin-right: 10px;
   font-weight: bold;
}
.pagination__number:hover {
   background-color: #2aacc8;
}
.pagination-link{
   text-decoration: none;
   color:#000000;
}
.pagination__arrow{
   padding: 5px 10px;
   margin-right: 10px;
}
.pagination__arrow:hover {
   background-color: #e8ebf1;
}


.fa-angles-right{
   color: #000000;
}
.fa-angles-right:hover{
   color: #2aacc8;
}
.fa-angle-right{
   color: #000000;
}
.fa-angle-right:hover{
   color: #2aacc8;
}


.section-contact{
   width: auto;
   height: auto;

}
.contact-container{
   padding:35px 0 35px ;
}
.contact__icon-title{
   border-bottom: 1px solid #e8ebf1;
   padding: 10px 0;


}
.fa-envelope{
   color: #2aacc8;
   margin-right: 10px;
}
.contact__icon-title > h5{
   display: inline-block;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;

}
.contact__form-map{
   padding-top: 35px;
   display: flex;
   justify-content: space-between;
}
.form-map__form-box{
   width:auto;
   height: auto;
}
.form-box__suggestion-text{
   margin-bottom: 30px;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   
}
.form-email{
   color: #2aacc8;
   text-decoration: none;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
}
form{
   font-size: 14px;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;

}
input[type=text], [type=email]{
   width: 480px;
   padding: 10px 5px;
   margin: 12px 0 16px;
   border: 1px solid #b4bac5;

}
input[type=text]:focus{
   border:1px solid #2aacc8;
   outline: none;
}
input[type=email]:focus{
   border:1px solid #2aacc8;
   outline: none;
}


textarea{
   width: 480px;
   margin: 12px 0 16px;
   border: 1px solid #b4bac5;
}
textarea:focus{
   border:1px solid #2aacc8;

}
.form__submit-btn{
   display: inline-block;
   padding:15px 20px;

   border: 1px solid #2aacc8;
   border-radius: 8px;
   background-color: #2aacc8;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;

}
.form__submit-btn > a{
   text-decoration: none;
   font-size: 16px;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.submit-btn-icon{
   background-color: #2aacc8;
   color: #ffffff;
   font-size: 20px;
   padding-right: 10px;
}
.form-map__map-box{
   width: auto;
   height: auto;

}

.map-box__map{
   padding: 20px;
   background-color: #e7fbfd;
}
.map-box__map > h5 {
   font-size: 14px;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding-bottom: 20px;
}
.bislite__address{
   margin-top:40px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
}


